<nav class="navbar navbar-dark bg-primary mb-5">
  <a class="navbar-brand" href="https://www.ragavera.com/" target="_blank">
    <img src="assets/ragavera_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    RaGaVeRa Indic Technologies
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
     <a class="nav-item nav-link active" routerLink="/tts">TTS</a>
     <a class="nav-item nav-link" routerLink="/ocr">OCR</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/auth/login" target="_blank">Login</a>
    </div>
  </div>
</nav>
