<nav class="navbar navbar-dark bg-primary mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Contains <a href="http://mile.ee.iisc.ac.in/" target="_blank">IISc Innovation</a>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/RaGaVeRa" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/RaGaVeRa_Indic" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/company/ragavera" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>
